extends layout

mixin articleImg(w, h, article)
    img(src="https://source.unsplash.com/random/" + w + "x" + h + "/?" + ["people", "sport", "police"][article.id%3] + "/" + article.id, height=h)

block content
  .container.flex-container.home-container
    .left-column
      .subheader
        span= "Brze vesti"
      each article in news.slice(9)
        .news-item.news-item-mini
          +articleImg(210, 150, article)
          h2
            b= article.pre_title + " "
            = article.title
          h4.category= article.category.toUpperCase() + " - " + article.created.toISOString().substr(11, 5)
    .mid-column
      each article in news.slice(0, 1)
        .news-item.news-item-cover
          +articleImg(570, 300, article)
          h2
            b= article.pre_title + " "
            = article.title
          h4.category= article.category.toUpperCase() + " - " + article.created.toISOString().substr(11, 5)
      .flex-container.wrap
        each article in news.slice(1, 3)
          .news-item
            +articleImg(275, 150, article)
            h2
              b= article.pre_title + " "
              = article.title
            h4.category= article.category.toUpperCase() + " - " + article.created.toISOString().substr(11, 5)
      .subheader
        span= "Aktuelno"
      br
      .flex-container.wrap
        each article in news.slice(3, 9)
          .news-item
            +articleImg(275, 150, article)
            h2
              b= article.pre_title + " "
              = article.title
            h4.category= article.category.toUpperCase() + " - " + article.created.toISOString().substr(11, 5)
    .right-column
