extends layout

block content
  .container.flex-container.home-container
    .left-column
      .subheader
        span= "Brze vesti"
      each thing in news.slice(9)
        .news-item.news-item-mini
          img(src="https://picsum.photos/210/150/?" + thing.id, height="150")
          h2
            b= thing.pre_title + " "
            = thing.title
          h4.category= thing.category.toUpperCase()
    .mid-column
      each thing in news.slice(0, 1)
        .news-item.news-item-cover
          img(src="https://picsum.photos/570/300/?" + thing.id, height="300")
          h2
            b= thing.pre_title + " "
            = thing.title
          h4.category= thing.category.toUpperCase()
      .flex-container.wrap
        each thing in news.slice(1, 3)
          .news-item
            img(src="https://picsum.photos/275/150/?" + thing.id, height="150")
            h2
              b= thing.pre_title + " "
              = thing.title
            h4.category= thing.category.toUpperCase()
      .subheader
        span= "Aktuelno"
      br
      .flex-container.wrap
        each thing in news.slice(3, 9)
          .news-item
            img(src="https://picsum.photos/275/150/?" + thing.id, height="150")
            h2
              b= thing.pre_title + " "
              = thing.title
            h4.category= thing.category.toUpperCase()
    .right-column
