doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav
      .nav-primary
        .container
          img(src="/images/logo.png", height="80")
      .nav-secondary
        .container
          a= "Naslovna"
          a= "Politika"
          a= "Vesti"
          a= "Hronika"
          a= "Sport"
    .ad.ad-left
    .ad.ad-right
    block content
